<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <div class="container bg-secondary text-white p-5">
        <h1>Products Page</h1>
        <small>Date: <%= new Date().toLocaleString() %> </small>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est tempore explicabo magnam? Fuga repellat quas
            nulla
            recusandae corporis culpa et itaque, labore expedita doloribus ipsa, unde esse sit nihil natus?
        </p>

        <button class="btn btn-primary">Contact</button>
    </div>
</body>

</html>